h6 Subscribe to Our Newsletter
form.aside-form.rd-form.form-sm.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
	.form-wrap
		input#user-email.form-input(type='email' name='email' data-constraints='@Required')
		label.form-label(for='user-email') Enter E-mail

	.button-wrap.group-md
		button.button.button-default(type='submit') Subscribe