h6 Recent posts

+post-minimal({
	title: 'Kitchen Cabinets: Ideas for Paint Color',
	link: 'blog-post.html',
	time: 'May 10, 2019'
})

+post-minimal({
	title: 'What You Need to Know About a Paint Estimate',
	link: 'blog-post.html',
	time: 'May 10, 2019'
})

+post-minimal({
	title: 'How Often to Paint Your Walls: Tips from Our Experts',
	link: 'blog-post.html',
	time: 'May 10, 2019'
})