form.rd-search.rd-search-form(action='search-results.html' method='GET')
	.form-wrap
		label.form-label(for='search-form-input') Search
		input(class='form-input' id='search-form-input' type='text' name='s' autocomplete="off")
	button.rd-search-form-submit.linearicons-magnifier(type='submit')